
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
    transition: 0.3s all ease;
}
#deleteBtn:hover {
    color: #E43636;
}
#updateBtn3:hover {
    color: #3682E4;
}
a:focus {
    text-decoration: none;
}
a:active {
    color: #FFF;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bttn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
}
.bttn:after {
    transition: 0.3s all ease;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    border: 2px solid #333;
}
.bttn:before {
    content: '';
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    z-index: -1;
}
.bttn:hover:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.bttn:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.bttn:active:before {
    background-color: #E43636;
}
.bttn:active:after {
    border-color: #E43636;
}


.bttn2 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
}
.bttn2:after {
    transition: 0.3s all ease;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    border: 2px solid #333;
}
.bttn2:before {
    content: '';
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    z-index: -1;
}
.bttn2:hover:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.bttn2:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.bttn2:active:before {
    background-color: #3682E4;
}
.bttn2:active:after {
    border-color: #3682E4;
}

select {
    font-family: 'FontAwesome', emoji;
    font-size: 10px;
}
.form-control {
    font-family: 'FontAwesome', emoji;
    font-size: 13px;
}

/*#updates{*/
/*    font-family: 'FontAwesome', emoji;*/
/*    font-size: 15px;*/
/*}*/
/*.currency-wrap{*/
/*    position:relative;*/
/*}*/

.currency-code{
    position:absolute;
    left:14px;
    top:5px;
}

.text-currency{
    padding:10px 20px;
    border:solid 1px #ccc;
    border-radius:5px;
}

input{
    padding: 10px;
    font: 20px Arial;
    width: 70%;
}
